* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 14px;
}

:root {
  --primary-blue: #0095ffdd;
  --error-color: red;
  --success-color: rgb(5, 242, 5);
}

::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Light and Dark Mode Styles */

@media (prefers-color-scheme: dark) {
  .dark_mode {
    color: aliceblue;
    background: #070927;
  }

  .main_dark {
    color: gainsboro;
    background: #070927ba;
  }

}



.light_mode {
  color: #070927;
  background: rgb(234, 234, 234);
}

.active {
  color: var(--primary-blue);
  text-decoration: underline;
}


.main_light {
  color: #070927ba;
  background: gainsboro;
}

.error {
  
}