.add_blog_container {
  width: 100%;
  max-width: 1250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow-y: hidden;
  padding: 10px 5px;
/*  backdrop-filter: revert;*/
opacity: 0.8;

}
.add_blog_container .img_wrapper {
  flex: 1;
  min-width: 200px;
  height: 75%;
  position: relative;
  border: 2px dashed ;
  border-radius: 5px;
  cursor: pointer;

}

.add_blog_container .input_wrapper {
  flex: 2;
  min-width: 320px;
  height: 75%;
}

.add_blog_container .img_wrapper .fa_image {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.add_blog_container .img_wrapper #file {
  display: none;
}

.add_blog_container .img_wrapper label {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  cursor: pointer;
  
}

.add_blog_container .img_wrapper label .fa_upload {
    opacity: 0.5;
    font-size: 1.2rem;
}

.add_blog_container .img_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  opacity: 1;
}

.add_blog_container .input_wrapper form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.add_blog_container .input_wrapper form .title {
  flex: 0.6;
  padding: 5px 7px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1.8px solid ;
  background: none;
}

.add_blog_container .input_wrapper form textarea {
  flex: 5;
  resize: none;
  padding: 5px 7px;
  font-size: 12px;
  outline: none;
  border: none;
  border-bottom: 1.8px solid ;
  background: none;
}

.cat_wrapper {
  flex: 0.6;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 10px 0;
}

.cat_wrapper .cat {
  flex: 1;
  font-size: 13px;
  padding: 5px 7px;
  outline: none;
  border: none;
  border-bottom: 1.8px solid ;
  background: none;
}

.cat_wrapper select {
  flex: 1;
  outline: none;
  padding: 5px 7px;
  border: none;
  border-bottom: 1.8px solid ;
  background: none;

}

.cat_wrapper option {
  background: rgba(0, 0, 0, 0.5);

}

.add_blog_container .input_wrapper form button {
  flex: 0.6;
  padding: 4px;
  font-weight: 700;
  background: #7272729c;
  color: white;
  border-radius: 5px;
  border: none;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.add_blog_container .input_wrapper form button:hover {
  background: var(--primary-blue);
}

.add_blog_container .input_wrapper form button:disabled {
  cursor: not-allowed;
  color: darkgray;
}


@media screen and (max-width: 900px) {
  .add_blog_container {
    flex-direction: column;
    justify-content: unset;
    gap: 10px;
  }
  .add_blog_container .img_wrapper {
    min-width: 100%;
    max-height: 200px;
  }
  .add_blog_container .input_wrapper {
    width: 100%;
  }
  .cat_wrapper {
    gap: 10px;
  }
  .cat_wrapper select {
    width: 90%;
  }
  .cat_wrapper .cat {
    width: 90%;
  }

  .add_blog_container .img_wrapper .fa_image {
    height: 90%;
  }

  .add_blog_container .input_wrapper form textarea {
    height: 200px;
  }
}
